$primary-color: #0073b7;
$secondary-color: #ffffff;
$text-color: #f0f0f0;
$gray: #808080;
$dark-blue: #293359;
$black: #000;
$white: #fff;
$header-background: linear-gradient($dark-blue, $white);
$headre-background-revers: linear-gradient($white, $dark-blue);

$karla-font: 'Karla', Arial, sans-serif;
$play-fire-font: 'Playfair Display', Georgia, serif;
